{
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "useTabs": false,
  "semi": true,
  "importOrder": ["^@nestjs/(.*)$", "^@subscribely/(.*)$", "^[./]"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
